### Question 1
Create a function that takes a number as an argument and returns True or False depending
on whether the number is symmetrical or not. A number is symmetrical when it is the same as
its reverse.<br>
Examples<br>
is_symmetrical(7227) ➞ True<br>
is_symmetrical(12567) ➞ False<br>
is_symmetrical(44444444) ➞ True<br>
is_symmetrical(9939) ➞ False<br>
is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(num):
    
        
    str_num=str(num)
    
    full_length=len(str_num)
    mid_length=full_length//2
    
    for i in range(mid_length):
        
        if  str_num[i] !=str_num[full_length-i-1] :
            return False
    return True

In [2]:
is_symmetrical(44444444)

True

In [3]:
is_symmetrical(12567)

False

### Question 2
Given a string of numbers separated by a comma and space, return the product of the numbers.<br>

Examples<br>
multiply_nums("2, 3") ➞ 6<br>
multiply_nums("1, 2, 3, 4") ➞ 24<br>
multiply_nums("54, 75, 453, 0") ➞ 0<br>
multiply_nums("10, -2") ➞ -20

In [4]:
def multiply_nums(string):
    mul=1
    for i in string.split(","):
        mul = mul * int(i.strip())
    return mul

In [5]:
multiply_nums("54, 75, 453, 0")

0

In [6]:
multiply_nums("1, 2, 3, 4")

24

### Question 3
Create a function that squares every digit of a number.<br>
Examples<br>
square_digits(9119) ➞ 811181<br>
square_digits(2483) ➞ 416649<br>
square_digits(3212) ➞ 9414<br>
Notes<br>
The function receives an integer and must return an integer.<br>

In [7]:
def square_digits(num):
    squ=""
    for i in str(num):
        s=int(i)*int(i)
        squ=squ+str(s)
    return int(squ)

In [8]:
square_digits(9119)

811181

In [9]:
square_digits(3212)

9414

### Question 4
Create a function that sorts a list and removes all duplicate items from it.<br>

Examples<br>
setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]<br>
setify([4, 4, 4, 4]) ➞ [4]<br>
setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]<br>
setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [10]:
def setify(lst):
    return list(set(lst))

In [11]:
setify([3, 3, 3, 2, 1])

[1, 2, 3]

### Question 5
Create a function that returns the mean of all digits.<br>
Examples<br>
mean(42) ➞ 3<br>
mean(12345) ➞ 3<br>
mean(666) ➞ 6<br>
Notes<br>
 The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in
512 is (5+1+2)/3(number of digits) = 8/3=2).<br>
 The mean will always be an integer.

In [12]:
def mean(num):
    result=0
    for i in str(num):
        result=result+int(i)
    return result//len(str(num))

In [13]:
mean(12345)

3