### Question 1
Create a function that takes a list of non-negative integers and strings and return a new list
without the strings.<br>
Examples<br>
filter_list([1, 2, &quot;a&quot;, &quot;b&quot;]) ➞ [1, 2]<br>
filter_list([1, &quot;a&quot;, &quot;b&quot;, 0, 15]) ➞ [1, 0, 15]<br>
filter_list([1, 2, &quot;aasf&quot;, &quot;1&quot;, &quot;123&quot;, 123]) ➞ [1, 2, 123]

In [1]:
def filter_list(lst):
    return [i for i in lst if type(i)== int]

In [2]:
filter_list([1, 2, "a", "b"])

[1, 2]

In [3]:
filter_list([1, "a", "b", 0, 15])

[1, 0, 15]

In [4]:
filter_list([1, 2, "aasf", "1", "123", 123])

[1, 2, 123]

### Question 2
The "Reverser" takes a string as input and returns that string in reverse order, with the opposite case.<br>

Examples<br>

reverse("Hello World") ➞ "DLROw OLLEh"<br>
reverse("ReVeRsE") ➞ "eSrEvEr"<br>
reverse("Radar") ➞ "RADAr"

In [5]:
def reverse(string):
    return string.swapcase()[::-1]

In [6]:
reverse("Hello World")

'DLROw OLLEh'

In [7]:
reverse("ReVeRsE")

'eSrEvEr'

In [8]:
reverse("Radar")

'RADAr'

### Question 3
You can assign variables from lists like this:<br>
lst = [1, 2, 3, 4, 5, 6]<br>
first = lst[0]<br>
middle = lst[1:-1]<br>
last = lst[-1]<br>
print(first) ➞ outputs 1<br>
print(middle) ➞ outputs [2, 3, 4, 5]<br>
print(last) ➞ outputs 6<br>

With Python 3, you can assign variables from lists in a much more succinct way. Create variables first, middle and last from the given list using destructuring assignment (check the Resources tab for some examples),<br> where:<br>

first ➞ 1<br>
middle ➞ [2, 3, 4, 5]<br>
last ➞ 6<br>

Your task is to unpack the list writeyourcodehere into three variables, being first,middle, and last, with middle being everything in between the first and last element. Then print all three variables.

In [10]:
def destructur(lst): 
    first ,*middle,last = lst
    print("first:", first)
    print("middle:", middle)
    print("last:", last)

In [11]:
destructur([1, 2, 3, 4, 5, 6])

first: 1
middle: [2, 3, 4, 5]
last: 6

### Question 4
Write a function that calculates the factorial of a number recursively.<br>
Examples<br>
factorial(5) ➞ 120<br>
factorial(3) ➞ 6<br>
factorial(1) ➞ 1<br>
factorial(0) ➞ 1

In [12]:
def factorial(num):
    if num==1 or num==0:
        return 1
    else:
        for i in range(2,num+1):
            return (num*factorial(num-1))

In [13]:
factorial(5)

120

### Question 5
Write a function that moves all elements of one type to the end of the list.<br>
Examples<br>
move_to_end([1, 3, 2, 4, 4, 1], 1) ➞ [3, 2, 4, 4, 1, 1]<br>
Move all the 1s to the end of the array.<br>
move_to_end([7, 8, 9, 1, 2, 3, 4], 9) ➞ [7, 8, 1, 2, 3, 4, 9]<br>
move_to_end([&quot;a&quot;, &quot;a&quot;, &quot;a&quot;, &quot;b&quot;], &quot;a&quot;) ➞ [&quot;b&quot;, &quot;a&quot;, &quot;a&quot;, &quot;a&quot;]

In [14]:
def move_to_end(List,char):

    list_of_Equal=[]
    list_of_NotEqual=[]
    
    for i in List:
        if i == char:
            list_of_Equal.append(i)
        else:
            list_of_NotEqual.append(i)
            
    return (list_of_NotEqual+list_of_Equal)

In [15]:
move_to_end([1, 3, 2, 4, 4, 1], 1)

[3, 2, 4, 4, 1, 1]